.navbarn {
    
    background-color: #000033
    
}

.footer {
    
}

.titulos-8rm { 

    font-family: 'Tangerine', cursive;
    font-size: 8rem;
    color: #DAA520;
    
}

.titulos-4rm { 

    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    color: #DAA520;
    
}

.subtitulos {
    
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    color: #DAA520;
    
}

.textos-pt {
    
    font-family: 'Raleway', sans-serif;
    color: #000033;

}

.textos-br {
    
    font-family: 'Raleway', sans-serif;
    color: white;
    
    
}

.color-back {
    
    background-color: #000033;
    
}

.rodape {
    
    background-color: #000033;
    color: white;
    
}

.pad {
    
    padding-bottom: 40px;
    
}

.text-nav-bar {
    
    
    
}

.container-car{
    width: 150px;
    height: 150px;
}

.wall{
    display: none;
    width: 100%;
    height: 100%;
}

/* Corzinha de fundo para diferenciar */
.wall-1{ background-image: url("../img/map-image.png") }
.wall-2{ background-image: url("../img/map-image.png") }
.wall-3{ background-image: url("../img/map-image.png") }

.wall:target{
    display: block;
}


.rounded-circle-gold {
    
    border-radius: 50% !important;
    border: 2px solid #DAA520;
    
}

.rounded-circle-blu {
    
    border-radius: 50% !important;
    border: 4px solid #DAA520 ;
    
}

.back{
  text-align: center;
  color: white;
  background-image: url("");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.black {
    
    background-color: #000033;
    
}

@media (min-width: 768px) {
    
    .uper { 
        
        margin-top: 93px;
        
    }
    
    .uper-2rm { 
        
        margin-top: 30px;
        
    }
    
    .cent {
        
        text-align: center;
    }
    
    .sobn {
        
            font-family: 'Tangerine', cursive;
            font-size: 8rem;
            color: #DAA520;
        
    }
    .sobn2 {
        
            font-family: 'Tangerine', cursive;
            font-size: 3rem;
            color: #DAA520;
        
    }
    

}

@media (min-width: 300px) {
    
    .uper { 
        
        margin-top: 93px;
        
    }
    
    .uper-2rm { 
        
        margin-top: 30px;
        
    }
    .t30 {      
         
        
    }
    
    .sobn {
        
            font-family: 'Tangerine', cursive;
            font-size: 5rem;
            color: #DAA520;
        
    }
    .sobn2 {
        
            font-family: 'Tangerine', cursive;
            font-size: 2rem;
            color: #DAA520;
        
    }
    
}

@media (min-width: 962px) {
    
    .uper {
        
        margin-top:0px;
        
    }
    .uper-2rm { 
        
        margin-top: 0px;
        
    }
    
    .sobn {
        
            font-family: 'Tangerine', cursive;
            font-size: 10rem;
            color: #DAA520;
        
    }
    .sobn2 {
        
            font-family: 'Tangerine', cursive;
            font-size: 4rem;
            color: #DAA520;
        
    }
    
}

/* CSS DEFAULT PAGINAS */

#mainNav2 {
  background-color: #000030;
}

#mainNav2 .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: goldenrod;
  border: 0;
  
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav2 .navbar-brand {
  color: #fed136;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav2 .navbar-brand.active, #mainNav2 .navbar-brand:active, #mainNav2 .navbar-brand:focus, #mainNav2 .navbar-brand:hover {
  color: #fec503;
}

#mainNav2 .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav2 .navbar-nav .nav-item .nav-link.active, #mainNav2 .navbar-nav .nav-item .nav-link:hover {
  color: #fed136;
}

#mainNav2.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000033;
}

@media (min-width: 992px) {
  #mainNav2 {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: #000033
    
  }
    
  #mainNav2 .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav2 .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
      
  }
  #mainNav2.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #000033;
  }
  #mainNav2.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
    
}

/* CSS DEFAULT PAGINAS */




/* GALERIA */


.gal {
    
    margin-top: 90px;
    
}

.min {

    width:200px;
    padding:10px;

}

.lbox {

    visibility : hidden;
    opacity: 0;

}

.lbox:target {

    opacity:1;
    visibility: visible;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(10,10,10,.7);
    position: fixed;

}
.box_img{

    width:1000px;
    margin: 150px auto;

}

.box_img img{

    opacity: 0;

}

.lbox:target .box_img img{

    opacity: 1;
    transition: opacity .4s linear;

}

#prev{

    left : 5% ;
    top : 45% ;

}

#next{

    right: 5% ;
    top : 45% ;

}

#close{

    left : 0% ;
    right : 2% ;

}


/* GALERIA */


/* CAROSEUL */

.carot {
    
    height: 100px auto;
    
}

.fontm {
    
    font-family: fantasy;
    
}

/* Preload images */
body:after {
  content: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/close.png) url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/loading.gif) url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/prev.png) url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(https://raw.githubusercontent.com/lokesh/lightbox2/master/dist/images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.zoom {

    overflow: hidden;

}

.zoom img {

    max-width:100%;
    -max-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.zoom:hover img {

    -max-transform: scale(1.2);
    -webkit-transform: scale(1.3);
    transform: scale(1.2);

}

.zoom2{

    overflow: hidden;

}

.zoom2 img {

    max-width:100%;
    -max-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom2:hover img {

    -max-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}





